.nav {
    background-color: #7777770f !important;
}

body {
    color: rgba(0, 0, 0, 0.98) !important;
    font-weight: 300 !important;
}

p a {
    color: #ef7f1c;
}

p a:hover {
    color: #ca751d;
    text-decoration: none;
}

.container {
    z-index: 1 !important;
    background: white;
    position: sticky;
}

.nav-link {
    color: rgba(0, 0, 0, 0.9) !important;
}
.rot {
    animation: 5s linear 0s normal none infinite running rot;
    -webkit-animation: 5s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h4{
    font-weight: 300;
}
dt{
    font-weight: 300;
}